@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

@layer base{
    img{
        display: block;
    }
    button{
        display:block;
    }
}
@layer components {
  .topBorder {
    position: relative;
    overflow: hidden;
  }

  .topBorder::after {
    content: "";
    position: absolute; 
    top: 0;
    left: 0; 
    right: 0; 
    height: 10px;
    background-color: black;
    z-index: 1;
  }
}
